<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "car" class = "com.lnt.HelloMaven.Car">
   <property name="car_name" value="Maruti"></property>
   </bean>
   
   <bean id = "bike" class = "com.lnt.HelloMaven.Bike">
   <!--<property name="bike_name" value="Bajaj"></property>-->
   <constructor-arg value="Bajaj"></constructor-arg>
   </bean>
   
</beans>